comentariosBack/HELP.md
comentariosBack/target/
!comentariosBack/.mvn/wrapper/maven-wrapper.jar
!comentariosBack/**/src/main/**/target/
!comentariosBack/**/src/test/**/target/

### STS ###
comentariosBack/.apt_generated
comentariosBack/.classpath
comentariosBack/.factorypath
comentariosBack/.project
comentariosBack/.settings
comentariosBack/.springBeans
comentariosBack/.sts4-cache

### IntelliJ IDEA ###
comentariosBack/.idea
comentariosBack/*.iws
comentariosBack/*.iml
comentariosBack/*.ipr

### NetBeans ###
comentariosBack/nbproject/private/
comentariosBack/nbbuild/
comentariosBack/dist/
comentariosBack/nbdist/
comentariosBack/.nb-gradle/
comentariosBack/build/
!comentariosBack/**/src/main/**/build/
!comentariosBack/**/src/test/**/build/

### VS Code ###
comentariosBack/.vscode/
